.logo {
  list-style: none;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-focus {
  color: #2196f3;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.img-block {
  display: block;
}

.socials {
  display: inline-flex;
  margin-top: 16px;
}

.social-icon:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-logo {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-logo,
.social-link:focus .social-logo {
  fill: #ffffff;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

h1,
h2,
h3 {
  color: #212121;
  margin-top: 0px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

header {
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.site-nav.header-contacts {
  display: block;
}

@media screen and (min-width: 1200px) {
  .site-nav.header-contacts {
    display: flex;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.flex-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .flex-nav {
    display: flex;
    align-items: center;
  }
}

.header-contacts .link {
  /* display: flex; */
  color: #757575;
  align-items: center;
}

.contacts-logo {
  fill: #757575;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .contacts-logo, .link:focus .contacts-logo {
  fill: #2196f3;
}

.main-nav .logo {
  margin-right: 93px;
}

.link {
  color: #212121;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts.link {
  color: #757575;
}

@media screen and (min-width: 768px) {
  .header-contacts.link {
    padding: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts.link {
    display: flex;
    align-items: center;
  }
}

.link.active {
  display: inline-block;
  position: relative;
  color: #2196f3;
  padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .link.active {
    padding-bottom: 8px;
  }
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1199px) {
  .header-contacts .nav-item:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  left: 0px;
  bottom: 0px;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ECECEC;
}

.menu-button {
  display: inline-flex;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
}

.menu-button .icone-cross {
  display: none;
}

.menu-button.is-open .icone-cross {
  display: block;
}

.menu-button.is-open .icone-menu {
  display: none;
}

.mobile-header {
  position: relative;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}

.menu-container {
  display: none;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 453px;
  background-color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  padding: 60px;
}

.menu-container.is-open {
  display: block;
}

.menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.adress-item:not(:last-child) {
  margin-bottom: 16px;
}

.menu-nav {
  margin-bottom: 60px;
}

.hero {
  background-color: #2f303a;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
    padding-top: 200px;
    padding-bottom: 280px;
  }
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-480@1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-480@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    padding: 118px 60px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-768@1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-768@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-1600@1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-1600@2x.jpg);
  }
}

.hero .container {
  max-width: 390px;
}

@media screen and (min-width: 1200px) {
  .hero .container {
    max-width: 696px;
  }
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  border: 0px;
  line-height: 1.87;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.advantage {
  font-size: 14px;
  line-height: 1.71;
}

.adv-list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

.adv-item::before {
  content: "";
  height: 120px;
  display: block;
  background-size: 65px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.adv-detail::before {
  background-image: url(../images/hero/icons/antenna.svg);
}

.adv-punctual::before {
  background-image: url(../images/hero/icons/clock1.svg);
}

.adv-planing::before {
  background-image: url(../images/hero/icons/diagram1.svg);
}

.adv-tech::before {
  background-image: url(../images/hero/icons/astronaut1.svg);
}

.adv-item {
  margin: 15px;
  text-align: center;
  width: calc(100% - 30px);
}

@media screen and (min-width: 768px) {
  .adv-item {
    width: calc((100% - 30px * 2) / 2);
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .adv-item {
    width: calc((100% - 30px * 4) / 4);
  }
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  margin: 0px;
}

.section-services {
  padding-top: 0px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-services {
    display: block;
  }
}

.list-services {
  display: flex;
}

.item-services {
  width: calc((100% - 30px * 2) / 3);
  position: relative;
}

.service-image {
  display: block;
}

.service-title {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.item-services:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.section-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background: #f5f4fa;
}

.team-member {
  padding-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
  text-align: center;
  width: calc(100% - 30px);
}

@media screen and (min-width: 768px) {
  .team-member {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    width: calc((100% - 30px * 4) / 4);
    padding-bottom: 30px;
  }
}

.team-img {
  width: 100%;
}

.member-title {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* Clients section */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.client-item {
  margin: 15px;
  width: calc((100% - 30px * 2) / 2);
}

@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 30px * 6) / 6);
    padding-bottom: 30px;
  }
}

.client-link {
  padding: 20px;
  text-align: center;
  display: block;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.client-logo {
  fill: currentColor;
  height: 100%;
  width: 100%;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .logo {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 9px;
}

.black-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.black-link .social-logo {
  fill: #ffffff;
}

.futer-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
}

.futer-block {
  margin: 15px;
  text-align: center;
  width: calc(100% - 30px);
}

@media screen and (min-width: 768px) {
  .futer-block {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .futer-block {
    width: calc((100% - 30px * 4) / 4);
  }
}

.dark {
  color: rgba(255, 255, 255, 0.6);
}

.mailing-block {
  margin: 15px;
  text-align: center;
  width: calc(100% - 30px);
}

@media screen and (min-width: 1200px) {
  .mailing-block {
    width: calc((100% - 30px * 4) / 2 + 30px);
  }
}

.mailing-button {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  background-color: #2196f3;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 13px 10px 29px;
  border: 0px;
  line-height: 1.875;
  border-radius: 4px;
}

.mailing-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.mailing-input {
  width: 100%;
  max-width: 450px;
  color: #ffffff;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  display: block;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .mailing-input {
    max-width: 358px;
    display: inline-block;
    margin-bottom: 0px;
  }
}

.backdrop {
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-logo {
  width: 15px;
  height: 15px;
  fill: #212121;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within .form-logo {
  fill: #2196f3;
}

.input-name {
  position: absolute;
  left: 0px;
  top: -4px;
  transform: translateY(-100%);
}

.modal-form {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 39px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  max-width: 528px;
  max-height: 609px;
}

@media screen and (min-width: 768px) {
  .modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    min-width: 528px;
    min-height: 581px;
  }
}

.form-title {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 1.15;
  }
}

.form-field {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 28px;
}

.form-field:last-of-type {
  margin-bottom: 0px;
}

.form-label {
  display: flex;
  flex-direction: column;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0px 0px 0px 42px;
  min-height: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline-color: #2196f3;
}

.form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  outline-color: #2196f3;
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  margin-top: 20px;
  margin-bottom: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.714;
  }
}

.checkbox-label a {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .checkbox-icon {
  background-image: url(../images/forms/SVG/Vector-5.svg);
  background-size: contain;
  border-color: transparent;
  background-color: #2196f3;
  background-origin: border-box;
}

.form-button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  border: 0px;
  line-height: 1.875;
  border-radius: 4px;
  padding: 10px 55px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-logo {
  width: 11px;
  height: 11px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .close-logo {
  fill: #2196f3;
}

.modal-button {
  position: absolute;
  padding: 10px;
  top: 4px;
  right: 4px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
}

/* portfolio styles */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  /* border: 1px solid #eeeeee; */
  padding-bottom: 20px;
  margin: 15px;
  text-align: center;
  width: calc(100% - 30px);
}

.portfolio-card:hover .portfolio-item,
.portfolio-card:focus .portfolio-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 15px * 6) / 3);
  }
}

.portfolio-title {
  color: #212121;
}

.filter-button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  transition-property: color, background-color, bordborder-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .filter-item:nth-child(n-3) {
    margin-bottom: 15px;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.image-overlay {
  position: relative;
  overflow: hidden;
}

.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.text-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .text-image,
.portfolio-card:focus .text-image {
  transform: translateY(0%);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.portfolio-card {
  text-decoration: none;
  color: #757575;
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* margin-top: 20px; */
  margin-bottom: 4px;
}

.portfolio-text {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-item .text {
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */