/* Clients section */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.client-item {
  margin: 15px;
  width: calc((100% - 30px * 2) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px * 3) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 6) / 6);
    padding-bottom: 30px;
  }
}

.client-link {
  padding: 20px;
  text-align: center;
  display: block;
  height: 90px;
  color: $grey-logo;
  border: 1px solid $grey-logo;
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $focus-color;
    border: 1px solid $focus-color;
  }
}

// .client-link:hover,
// .client-link:focus {
//   color: $focus-color;
//   border: 1px solid $focus-color;
// }

.client-logo {
  fill: currentColor;
  height: 100%;
  width: 100%;
}
