header {
    text-decoration: none;
    border-bottom: 1px solid #ececec;
    
  }
  
  .site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-left: auto;
    @media screen and (min-width: 768px){
      
    display: flex;
  }
}
  .site-nav.header-contacts{
    display: block;
    @media screen and (min-width: 1200px){
      display: flex;
    }
  }

  .main-nav {
    display: flex;
    align-items: center;
  }
  
  .flex-nav {
display: none;
    @media screen and (min-width: 768px) {
      
        display: flex;
    align-items: center;
     }
  }
  
  .header-contacts .link {
    /* display: flex; */
    color: $main-text-color;
    align-items: center;
  }
  
  .contacts-logo {
    fill: $main-text-color;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .link:hover &, .link:focus &{
      fill: $focus-color;
    }
  }

  
  .main-nav .logo {
    margin-right: 93px;
  }
  
  
  .link {
    color: $title-color;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .site-nav &:hover, .site-nav &:focus{color: $focus-color;}
    @media screen and (min-width: 768px){
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  
  .header-contacts.link {
    color: $main-text-color;
    @media screen and (min-width: 768px){
      padding: 0px;
    }
    @media screen and (min-width: 1200px){
    display: flex;
     align-items: center;
    }
  }
  
  
  .link.active {
    display: inline-block;
    position: relative;
    color: $focus-color;
    padding-bottom: 32px;
    
    @media screen and (max-width: 767px){
    padding-bottom: 8px;
    }
  }
  
  // .nav-item {
  //   position: relative;
  // }
  .nav-item:not(:last-child) {
    margin-right: 50px;
  }
  .header-contacts .nav-item:not(:last-child){
    @media screen and (max-width: 1199px){
      margin: 0px 0px 10px 0px;
    }
  }
  
  .active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $focus-color;
    left: 0px;
    bottom: 0px;
  }

  // mobile menu
  .mobile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ECECEC;

  }
  .menu-button{
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
  }
  .menu-button .icone-cross{
    display: none;
  }
  .menu-button.is-open .icone-cross{
    display: block;
  }
  .menu-button.is-open .icone-menu{
    display: none;
  }
  .mobile-header{
    position: relative;
    @media screen and (min-width: 768px){
      display: none;
    }
  }
.menu-container{
    display: none;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 453px;
    background-color: $background-color;
    text-align: center;
    font-family: Roboto;
font-weight: 500;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.02em;
padding: 60px;
&.is-open{
  display: block;
}
  }

.menu-item:not(:last-child){
  margin-bottom: 40px;
}
.adress-item:not(:last-child){
  margin-bottom: 16px;
}
.menu-nav{
  margin-bottom: 60px;
}

